body{
font-size: 16px;
}

h1{
font-family: sans-serif;
font-style: bold;
text-decoration: underline overline;
}
	
p{
font-weight: 3em;
line-height: 10px;
text-align: center;
}
	
.amarelo{
background: yellow;
}
.vermelho{
background: red;
}
.marrom{
background: brown;
}
